.section {
    width: 100%;

    // main-page

    &__header-main {
        background: url('../../img/backgrounds/main/header.svg') center / cover no-repeat;
        padding-bottom: 200px;
    }

    &__about-main {
        background-color: #fff;
        padding: 80px 0px 100px;
    }

    &__our-main {
        background: url('../../img/backgrounds/main/our-section.svg') center / cover no-repeat;
        padding: 80px 0px 100px;
    }

    &__coffee {
        background: url('../../img/backgrounds/main/our-section.svg') center / cover no-repeat;
        padding: 80px 0px 100px;
    }

}