.main-page-hello {
    background: url(../../img/backgrounds/main/header.svg) center / cover no-repeat;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page-hello__wrapper {
    .hello {
        padding-top: 51px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 58px;
        }

        .beans-logo {
            margin-top: 5px;
            margin-left: 1px;
            background: url(../../img/items/beans-logo-white.svg) center no-repeat;
            height: 40px;
            width: 100%;
        }

        .subtitle {
            padding-top: 25px;
            margin-bottom: 18px;

            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                text-align: center;

                &:last-child {
                    margin-top: 10.5px;
                }
            }
        }

        .btn {
            padding: 4px 41px;
            border: 1px solid #fff;
            background-color: transparent;
            border-radius: 3px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            span {
                color: #fff;

            }

            margin-bottom: 200px;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                background-color: rgba($color: #fff, $alpha: .15);
            }
        }
    }

    .about {
        margin-top: 80px;
        background-color: #fff;
    }
}

.main-page-about {
    
}