.section {
    // our-coffee

    &__header-our {
        background: url('../../img/backgrounds/coffee-page.svg') center / cover no-repeat;
        padding-bottom: 85px;
    }

    &__about-our {
        padding-top: 70px;
    }
}